#Edward Godinez 
#11.21.2022 
#Lab 13

#This program will convert Inches to Centimeters, Centimeters to Inches,
#Grams to Ounces, Kilometers to Miles, or Miles to Kilometers.

def user_greeting():
    #User Greeting
    print("This program will convert Inches to Centimeters, Centimeters,to Inches,")
    print("Grams to Ounces, Kilometers to Miles, or Miles to Kilometers.") 
    print()
    print("Enter I to convert from Inches to Centimeters.")
    print("Enter C to convert from Centimeters to Inches.") 
    print("Enter O to convert from Ounces to Grams.") 
    print("Enter G to convert from Grams to Ounces.") 
    print("Enter M to convert from Miles to Kilometers.") 
    print("Enter K to convert from Kilometers to Miles.")

def userchoice():
    #Function to get the conversion, with error check.
    print()
    choice = input("Enter the type of conversion you would like to do: ").upper()
    
    #Error check
    while choice != 'I' and choice != 'C' and choice != 'O' and choice != 'G' and choice != 'M' and choice != 'K':
        choice = input('Please enter an I or C or O or G or M or K: ').upper()
        
    return choice

def getInputDoCalculationDisplay(choice):
    #Function that gets the user input for the measurement/weight.
    print()
    measureweight = float(input("Enter a measure/weight to convert: "))
    print()
    
    #if/elif/else statement, with conversions and formats needed to display the answer.
    if choice == 'I': 
        answer = measureweight * 2.54  
        print(format(measureweight,',.2f'), "Inches equals", format(answer,',.2f'),"Centimeters.")
            
    elif choice == 'C': 
        answer = measureweight / 2.54   
        print(format(measureweight,',.2f'), "Centimeters equals", format(answer,',.2f'),"Inches.")

    elif choice == 'O':  
        answer = measureweight * 28.3495231 
        print(format(measureweight,',.2f'), "Ounces equals", format(answer,',.2f'),"Grams.")

    elif choice == 'G': 
        answer = measureweight / 28.3495231  
        print(format(measureweight,',.2f'), "Grams equals", format(answer,',.2f'),"Ounces.")
            
    elif choice == 'M': 
        answer = measureweight * 1.609344  
        print(format(measureweight,',.2f'), "Miles equals", format(answer,',.2f'),"Kilometers.")
        
    elif choice == 'K': 
        answer = measureweight / 1.609344 
        print(format(measureweight,',.2f'), "Kilometers equals", format(answer,',.2f'),"Miles.") 

    print()
        
def runAgain():
    #Function that asks the user if they would like to run the program again.
    yesNo = input("Would you like to make another conversion? (y/n): ").lower()

    #Error check.
    while yesNo != 'y' and yesNo != 'n':
        
        yesNo = input("Please enter 'y' or 'n': ").lower()
        
    if yesNo == 'n':
        run = False
    else:
        run = True

    return run

def exitMessage():
    #Exit Message
    print("Have a nice day.")

#------------------------ Main --------------------------

#function to display the user greeting.
user_greeting()

runMain = True
#Main program loop
while runMain == True:

    #Function that gets the type of conversion
    choiceMain = userchoice()
    
    #Function that does the calculation and displays and formats the answer.
    getInputDoCalculationDisplay(choiceMain)
    
    #Function that asks the user if they would like to run the program again
    runMain = runAgain()

print()
#Function that shows the exit message.
exitMessage()
